{% extends 'base.html.twig' %}

{% block title %}Mes ingrédients{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes ingrédients</h1>

        <a href="{{ path('ingredient_new') }}" class="btn btn-primary">Créer un ingrédient</a>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {% if not ingredients.items is same as([])  %}
            <div class="count">
            <h5>{{ ingredients.getTotalItemCount }} ingrédients au total</h5>
        </div>

            <table class="table table-hover mt-4">
                <thead>
                <tr>
                    <th scope="col">Numéro</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Date de création</th>
                    <th scope="col">Editer</th>
                    <th scope ="col">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for ingredient in ingredients %}
                    <tr class="table-primary">
                        <th scope="row">{{ ingredient.id }}</th>
                        <td>{{ ingredient.name }}</td>
                        <td>{{ ingredient.price }}</td>
                        <td>{{ ingredient.createdAt | date('d m Y') }}</td>
                        <td><a href="{{ path('ingredient_edit', {id: ingredient.id}) }}" class="btn btn-info">Editer</a></td>
                        <td><a href="{{ path('ingredient_delete', {id: ingredient.id}) }}" class="btn btn-warning">Supprimer</a></td>
                    </tr>
                {% endfor %}


                </tbody>
            </table>

            <div class="navigation d-flex justify-content-center">
                {{ knp_pagination_render(ingredients) }}
            </div>
        {% else %}
            <h3>Il n'y pas encore d'ingrédients en stock !</h3>
        {% endif %}


    </div>
{% endblock %}
