{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <h1>Les recettes</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <a href="{{ path('recette_new') }}" class="btn btn-primary">Nouvelle recette</a>


    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nom</th>
                <th>Durée</th>
                <th>Nb de personne</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Difficulté</th>
                <th>Favori ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.name }}</td>
                <td>{{ recette.time }}</td>
                <td>{{ recette.people }}</td>
                <td>{{ recette.description }}</td>
                <td>{{ recette.price is null ? 'Aucun' : recette.price}}</td>
                <td>{{ recette.createdAt ? recette.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ recette.updatedAt ? recette.updatedAt|date('Y-m-d') : '' }}</td>
                <td>{{ recette.difficulty }}</td>
                <td>{{ recette.isFavorite ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_recette_show', {'id': recette.id}) }}">Voir</a>
                    <a href="{{ path('app_recette_edit', {'id': recette.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucune recette enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(recettes) }}
    </div>

{% endblock %}
